.destination__info{
    max-width: 982px;
    display: grid;
    grid-template-areas: 
    "title authors"
    "img texts"
    "button texts"
    ". texts";
    row-gap: 48px;
    column-gap: 40px;
    margin: 92px auto 0;
}

.destination__title{
    grid-area: title;
    font-family: 'Inter bold';
    font-size: 72px;
    line-height: 76px;
    text-align: left;
    max-width: 460px;
    margin: 0;
}

.destination__image{
    grid-area: img;
    width: 100%;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: opacity 0.3s;    
}
.destination__image:hover{
    opacity: 0.50;
}

.destination__button{
    width: 355px;
    height: 48px;
    grid-area: button;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 13px 0;
    margin: 0;
}
.destination__button:hover{
    background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
    
}

.destination__conteiner{
    grid-area: authors;
    text-align: left;
    margin: auto 0 0;
    
}

.destination__artist{
    font-size: 18px;
    line-height: 22px;
    color: #AAAAAA;
    margin: 0 0 8px;
}

.destination__author{
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

.destination__conteiner-description{
    grid-area: texts;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.destination__description{
    font-size: 18px;
    line-height: 29.34px;
    text-align: left;
    margin: 0;
}


@media screen and (max-width: 1100px) {
    .destination__info{
        column-gap: 36px;
        margin-top: 90.5px;
    }
    .destination__title{
        font-size: 62px;
        line-height: 66px;
    }
}


@media screen and (max-width: 999px) {
    .destination__info{
        margin-top: 89.5px;
        grid-template-columns: 390px;
        column-gap: 32px;
        margin: 89.5px 24px 0; 
    }
    .destination__title{
        font-size: 52px;
        line-height: 56px;
    }
}


@media screen and (max-width: 768px) {
    .destination__info{
        max-width: 720px;
        column-gap: 28px;
        grid-template-columns: 340px;
        margin: 88px 24px 0;
    }
    .destination__title{
        font-size: 42px;
        line-height: 46px;
    }
    .destination__artist{
        font-size: 12px;
        line-height: 14.52px;
        letter-spacing: 0.12em;
    }
    .destination__author{
        font-size: 18px;
        line-height: 22px;
    }
    .destination__description{
        font-size: 16px;
        line-height: 26.08px;
    }
}


@media screen and (max-width: 665px) {
    .destination__info{
        display: flex;
        flex-direction: column;
        row-gap: 36.67px;
        margin: 62px 21.34px 0; 
    }
    .destination__title{
        font-size: 38.67px;
        line-height: 42.33px;
    }
    .destination__image{
        box-shadow: 0px 0px 0px;
    }
    .destination__button{
        width: 288px;
        height: 48px;
        font-size: 14px;
        line-height: 16.94px;
    }

}


@media screen and (max-width: 470px) {
    .destination__info{
        display: flex;
        flex-direction: column;
        row-gap: 33.34px;
        margin: 62px 0;
    }
    .destination__title{
        font-size: 35.34px;
        line-height: 38.66px;
        margin: 0 16px;
    }
    .destination__image{
        box-shadow: 0px 0px 0px;
    }
    .destination__button{
        max-width: 288px;
        max-height: 48px;
        font-size: 14px;
        line-height: 16.94px;
        margin: 0 16px;
    }
    .destination__artist{
        font-size: 12px;
        line-height: 14.52px;
        letter-spacing: 0.12em;
        margin: 0 16px;
    }
    .destination__author{
        font-size: 18px;
        line-height: 22px;
        margin: 0 16px;
    }
    .destination__description{
        font-size: 16px;
        line-height: 26.08px;
        margin: 0 16px;
    }
}


@media screen and (max-width: 320px) {
    .destination__info{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin: 62px 0 0;
    }
    .destination__title{
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px;
    }
    .destination__image{
        box-shadow: 0px 0px 0px;
    }
    .destination__button{
        max-width: 288px;
        max-height: 48px;
        font-size: 14px;
        line-height: 16.94px;
        margin: 0 16px;

    }
    .destination__artist{
        font-size: 12px;
        line-height: 14.52px;
        letter-spacing: 0.12em;
        margin: 0 16px;
    }
    .destination__author{
        font-size: 18px;
        line-height: 22px;
        margin: 0 16px;
    }
    .destination__description{
        font-size: 16px;
        line-height: 26.08px;
        margin: 0 16px;
    }
}
