.photo__grid{
    max-width: 1184px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    margin: 118px 48px 0;

}


@media screen and (max-width: 1100px) {
    .photo__grid{
    grid-template-columns: repeat(4, 1fr);
    margin: 100px 40px 0;
    }

}

@media screen and (max-width: 999px) {
    .photo__grid{
    grid-template-columns: repeat(3, 1fr);
    margin: 82px 32px 0;
    }
}

@media screen and (max-width: 768px) {
    .photo__grid{
        grid-template-columns: repeat(2, 1fr);
        margin: 64px 24px 0;
    }
}

@media screen and (max-width: 665px) {
    .photo__grid{
        grid-template-columns: repeat(2, 1fr);
        margin: 55.34px 21.34px 0;
    }
}

@media screen and (max-width: 470px) {
    .photo__grid{
        grid-template-columns: repeat(1, 1fr);
        margin: 46.68px 18.68px 0;
    }
}

@media screen and (max-width: 320px) {
    .photo__grid{
        grid-template-columns: repeat(1, 1fr);
        margin: 38px 16px 0;
    }
}